<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/style-free.css" />
    <link rel="stylesheet" href="css/fonts.css" />

    <meta charset="utf-8" />
    <title>PDF Result Template</title>
  </head>
  <body>
    <div class="ticket page">
      <% for (const ticket of tickets) { %>
      <div class="section3">
        <div class="main-container">
          <div class="bot top-stripe">
            <div class="logos">
              <p class="event">event.ba</p>
              <p class="event">event.ba</p>
            </div>
          </div>
          <div class="inner-container">
            <div class="left">
              <div class="top">
                <div class="info">
                  <h5 class="preformer h5">
                    <%= concertData.performer_name %>
                  </h5>
                  <div class="info-wrapper">
                    <div class="info-left">
                      <span class="time"><%= formattedDate %></span>
                      <span class="location"><%= place %></span>
                      <span class="ticket-location">
                        <div class="location-div">
                          <%= categoryName %> <% if (categoryName !== "" &&
                          ticketType !== "") { %> &nbsp;-&nbsp;<strong
                            ><%= ticketType %></strong
                          >
                          <% } else if (ticketType !== "") { %>
                          <strong><%= ticketType %></strong>
                          <% } %>
                        </div>
                        <div class="location-div-flex-center">
                          <% if (ticket.rowName) { %>
                          <span class="margin-right"
                            >Red : <%= ticket.rowName %>
                          </span>
                          <% } %> <% if (ticket.seat) { %>
                          <span> Sjedalo : <%= ticket.seat %></span>
                          <% } %>
                        </div>
                      </span>

                      <div class="ticket-location">
                        <div class="serial-number">
                          N<%= ticket.ticketNumber %>
                        </div>
                        <div class="location-div-flex-center">
                          <span class="margin-right">Cijena:</span>
                          <strong><%= ticketPrice %> <small>BAM</small></strong>
                        </div>
                      </div>
                    </div>

                    <div class="info-right">
                      <% if (categoryName !== "") { %>
                      <span class="large-letter">
                        <%= categoryName.charAt(0) %>
                      </span>
                      <% } else if (ticketType !== "") { %>
                      <span class="large-letter">
                        <%= ticketType.charAt(0).toUpperCase() %>
                      </span>
                      <% } %>

                      <span class="color-text">
                        <% if (categoryName !== "") { %> <%= categoryName %> <%
                        } else if (ticketType !== "") { %> <%= ticketType %> <%
                        } %>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="right">
              <div class="left-part">
                <div>
                  <div class="left-part-row">
                    <span class="color-text">
                      <%= categoryName %> <% if (categoryName !== "" &&
                      ticketType !== "") { %> &nbsp;-&nbsp;<%= ticketType %> <%
                      } else if (categoryName === "" && ticketType !== "") { %>
                      <%= ticketType %> <% } %>
                    </span>
                  </div>
                </div>
                <div class="left-part-row">
                  <div class="serial-number">N<%= ticket.ticketNumber %></div>
                  <div>
                    <span>Cijena:</span>
                    <span class="color-text"
                      ><%= ticketPrice %> <small>BAM</small></span
                    >
                  </div>
                </div>
              </div>
              <div class="right-part">
                <img src="<%= ticket.qrPath %>" class="qr" alt="" />
              </div>
            </div>
          </div>
          <div class="bot">
            <% for (const sponsor of sponsors) { %>
            <img class="sponsor" src="<%= sponsor %>" alt="" />
            <% } %>
          </div>
          <div class="bottom-stripe"></div>
        </div>
      </div>
      <% } %>
    </div>
  </body>
</html>
