<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/style-free.css" />
    <link rel="stylesheet" href="css/fonts.css" />

    <meta charset="utf-8" />
    <title>PDF Result Template</title>
  </head>
  <body>
    <div class="ticket page">
      <% for (const ticket of tickets) { %>
      <div class="section3">
        <div class="main-container">
          <div class="bot top-stripe">
            <div class="logos">
              <p class="event">event.ba</p>
              <p class="event">event.ba</p>
            </div>
          </div>
          <div class="inner-container">
            <div class="left">
              <div class="top">
                <div class="info">
                  <h5 class="preformer h5">
                    <%= concertData.performer_name %>
                  </h5>
                  <span class="time"><%= formattedDate %></span>
                  <span class="location"><%= place %></span>
                  <span class="ticket-location"
                    ><%= categoryName %> -<strong>
                      <%= ticketType %></strong
                    ></span
                  >

                  <div class="price-qr">
                    <div class="serial-number">N<%= ticket.ticketNumber %></div>
                    <div class="price">
                      Cijena:
                      <strong><%= ticketPrice %> <small>BAM</small></strong>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="right">
              <div class="left-part">
                <div>
                  <div class="left-part-row">
                    <span class="color-text"
                      ><%= categoryName %> - <%= ticketType %></span
                    >
                  </div>
                </div>
                <div class="left-part-row">
                  <div class="serial-number">N<%= ticket.ticketNumber %></div>
                  <div>
                    <span>Cijena:</span>
                    <span class="color-text"
                      ><%= ticketPrice %> <small>BAM</small></span
                    >
                  </div>
                </div>
              </div>
              <div class="right-part">
                <img src="<%= ticket.qrPath %>" class="qr" alt="" />
              </div>
            </div>
          </div>
          <div class="bot">
            <% for (const sponsor of sponsors) { %>
            <img class="sponsor" src="<%= sponsor %>" alt="" />
            <% } %>
          </div>
          <div class="bottom-stripe"></div>
        </div>
      </div>
      <% } %>
    </div>
    <div class="page ticket">
      <% for (const ticket of tickets) { %>
      <div class="section4">
        <div class="section4-1st">
          <img src="<%= ticket.qrPath %>" class="qr" />
        </div>
        <div class="section4-2nd">
          <span class="color-text"
            >Uvjeti korištenja ulaznice i ponašanja na događaju</span
          >
          <p>
            Kupovinom ove ulaznice, posjetitelj potpuno prihvaća sve uvjete i
            pravila ponašanja na mjestu događanja, kao i uvjete za kupce
            Event.ba na stranici www.event.ba. Nepoštivanje navedenih uvjeta i
            pravila može rezultirati zabranom ulaska na događaj ili udaljenjem s
            mjesta događanja. Nakon kupovine, ulaznicu nije moguće zamijeniti
            niti vratiti, osim u slučaju otkazivanja ili promjene datuma
            događaja. Event.ba ne preuzima odgovornost u slučaju oštećenja,
            gubitka ili krađe ulaznice ili njenih zaštitnih podataka (kao što su
            qr kod, serijski broj, zaštitni kod itd.), te u tim situacijama nije
            moguć povrat novca niti zamjena ulaznice. Oštećena, ukradena,
            krivotvorena ili ulaznica bez odreska ili zaštitnih podataka smatra
            se nevažećom, a s takvom ulaznicom posjetitelj neće moći ući na
            događaj. Molimo vas da ulaznice kupujete isključivo na www.event.ba
            ili na ovlaštenim prodajnim mjestima. Nakon skeniranja jedinstvenog
            koda na ulaznici, ona postaje nevažeća, a ulaz je dozvoljen samo
            prvom nositelju te ulaznice. Svaki pokušaj ulaska s istim kodom bit
            će onemogućen. U slučaju otkazivanja događaja ili promjene datuma,
            povrat novca za ulaznice moguće je zatražiti putem stranice
            www.event.ba/refund. U određenim slučajevima, povrat novca će biti
            izvršen izravno od strane organizatora. Molimo imajte na umu da
            naknada za izdavanje ulaznice, kao i eventualne dodatne naknade
            Event.ba, te privatni troškovi poput smještaja ili prijevoza, nisu
            povratni. Krivotvorenje, zloupotreba i ilegalna preprodaja Event.ba
            ulaznica su zakonom kažnjivi i bit će prijavljeni policiji. Na
            mjesto događanja zabranjeno je unošenje oružja, pirotehničkih
            sredstava, boca, limenki i drugih predmeta koji mogu ugroziti
            sigurnost drugih posjetitelja. Također je zabranjeno unošenje opreme
            za audiovizualno snimanje. Važno je napomenuti da glasna glazba može
            oštetiti sluh. Dolaskom na događaj, posjetitelj preuzima sve rizike,
            uključujući rizk od gubitka, krađe i oštećenja vlastite imovine, kao
            i rizik od tjelesnih ozljeda. Dolaskom na događaj, posjetitelj
            pristaje biti audiovizualno snimljen bez ograničenja i bez
            mogućnosti financijske kompenzacije za upotrebu takvih snimaka.
          </p>
          <p>info@event.ba</p>
        </div>
      </div>
      <% } %>
    </div>
  </body>
</html>
