<% function formattedTimeOfEvent(time) { %> <% const options = { year:
'numeric', month: 'numeric', day: 'numeric' }; %> <%= new
Date(time).toLocaleDateString('hr-HR', options) %> <% } %> <% function
formattedDateOneDayBefore(date) { %> <% const previousDay = new Date(date); %>
<% previousDay.setDate(previousDay.getDate() - 1); %> <% const options = { year:
'numeric', month: 'numeric', day: 'numeric' }; %> <%= new
Date(previousDay).toLocaleDateString('hr-HR', options) %> <% } %>

<!DOCTYPE html>
<html>
  <head>
    <title>Ticket Selling History Report</title>
    <link rel="stylesheet" href="/style.css" />
    <style>
      @page {
        size: A4; /* Set page size to A4 */
        /* Set margins for all sides */
        /* You can also set other properties like orientation if needed */
        margin-bottom: 100px;
      }

      body {
        font-family: "Trebuchet MS", sans-serif;
        margin: 0; /* Remove default margins */
        padding: 0; /* Remove default padding */
        background-color: rgb(255, 255, 255);
        width: 210mm; /* Set width to A4 dimensions */
        height: 297mm; /* Set height to A4 dimensions */
      }
      .center {
        text-align: center;
      }
      header {
        margin: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        .logo {
          display: flex;
          gap: 10px;
          flex-direction: row;
        }
      }
      .event-info {
        margin: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      table {
        border-collapse: collapse;
        width: 95%;
        margin: 0 20px;
        page-break-before: auto;
      }
      tbody {
        outline: 1px solid rgba(0, 0, 0, 0.514);
      }
      .date {
        background: rgb(233, 233, 233);
      }
      th {
        border-radius: 2px;
        outline: 0.5px solid rgb(26, 26, 26);
      }
      th,
      td {
        padding: 1.5px;
        font-size: 12px;
        text-align: center;
        border-bottom: 0.2px dotted rgba(0, 0, 0, 0.5);
      }

      small {
        opacity: 0.8;
      }
      .sum {
        font-weight: bold;
        border-bottom: 0.5px solid black;
      }
    </style>
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="<%= logoImageSrc %>" alt="Event.ba Logo" />
        <h3>event.ba</h3>
      </div>
      <h1>Izvještaj prodaje ulaznica</h1>
      <p><%= formattedTimeOfEvent(new Date()) %></p>
    </header>
    <div class="event-info">
      <h3><%= data.concert.performer_name %></h3>
      <p><%= data.concert.place.city %>, <%= data.concert.place.place %></p>
      <p><%= formattedTimeOfEvent(data.concert.time_of_event) %></p>
    </div>
    <h4 class="center">
      Od <%= formattedDateOneDayBefore(data.concert_history[0].date) %> do <%=
      formattedDateOneDayBefore(data.concert_history[data.concert_history.length
      - 1].date) %>
    </h4>

    <h4 class="center">Online Prodaja</h4>
    <table>
      <thead>
        <tr>
          <th>Zona</th>
          <th>Ukupna Količina</th>
          <th>Ukupna Prodaja (BAM)</th>
        </tr>
      </thead>
      <tbody>
        <% let totalOnlineAmount = 0; %> <% let totalOnlineAmountInBAM = 0; %>
        <% const onlineSaleCategories = {}; %> <%
        data.concert_history.forEach(function(day) { %> <% if
        (day.tickets.online_sale) { %> <% let totalAmount = 0; %> <% let
        totalAmountInBAM = 0; %> <%
        Object.keys(day.tickets.online_sale.zones).forEach(category => { %> <%
        const saleData = day.tickets.online_sale.zones[category]; %> <% const
        categoryTotal = saleData.sold_amount; %> <% const categoryTotalInBAM =
        categoryTotal * saleData.price; %> <% totalAmount += categoryTotal; %>
        <% totalAmountInBAM += categoryTotalInBAM; %> <% if
        (!onlineSaleCategories[category]) { %> <% onlineSaleCategories[category]
        = { totalAmount: 0, totalAmountInBAM: 0 }; %> <% } %> <%
        onlineSaleCategories[category].totalAmount += categoryTotal; %> <%
        onlineSaleCategories[category].totalAmountInBAM += categoryTotalInBAM;
        %> <% }); %> <% totalOnlineAmount += totalAmount; %> <%
        totalOnlineAmountInBAM += totalAmountInBAM; %> <% } %> <% }); %> <%
        Object.keys(onlineSaleCategories).forEach(category => { %>
        <tr>
          <td><%= category %></td>
          <td><%= onlineSaleCategories[category].totalAmount %></td>
          <td><%= onlineSaleCategories[category].totalAmountInBAM %></td>
        </tr>
        <% }); %>
        <tr class="sum">
          <td>Ukupno:</td>
          <td><%= totalOnlineAmount %></td>
          <td><%= totalOnlineAmountInBAM %></td>
        </tr>
      </tbody>
    </table>

    <h4 class="center">Slobodna Prodaja</h4>
    <table>
      <thead>
        <tr>
          <th>Zona</th>
          <th>Ukupna Količina</th>
          <th>Ukupna Prodaja (BAM)</th>
        </tr>
      </thead>
      <tbody>
        <% let totalFreeAmount = 0; %> <% let totalFreeAmountInBAM = 0; %> <%
        const freeSaleCategories = {}; %> <%
        data.concert_history.forEach(function(day) { %> <% let
        resellerTotalAmount = 0; %> <% let resellerTotalAmountInBAM = 0; %> <%
        day.tickets.free_sale.resellers.forEach(function(reseller) { %> <%
        Object.keys(reseller.zones).forEach(category => { %> <% const
        resellerData = reseller.zones[category]; %> <% const
        resellerCategoryTotal = resellerData.sold_amount; %> <% const
        resellerCategoryTotalInBAM = resellerCategoryTotal * resellerData.price;
        %> <% resellerTotalAmount += resellerCategoryTotal; %> <%
        resellerTotalAmountInBAM += resellerCategoryTotalInBAM; %> <% if
        (!freeSaleCategories[category]) { %> <% freeSaleCategories[category] = {
        totalAmount: 0, totalAmountInBAM: 0 }; %> <% } %> <%
        freeSaleCategories[category].totalAmount += resellerCategoryTotal; %> <%
        freeSaleCategories[category].totalAmountInBAM +=
        resellerCategoryTotalInBAM; %> <% }); %> <% }); %> <% totalFreeAmount +=
        resellerTotalAmount; %> <% totalFreeAmountInBAM +=
        resellerTotalAmountInBAM; %> <% }); %> <%
        Object.keys(freeSaleCategories).forEach(category => { %>
        <tr>
          <td><%= category %></td>
          <td><%= freeSaleCategories[category].totalAmount %></td>
          <td><%= freeSaleCategories[category].totalAmountInBAM %></td>
        </tr>
        <% }); %>
        <tr class="sum">
          <td>Ukupno:</td>
          <td><%= totalFreeAmount %></td>
          <td><%= totalFreeAmountInBAM %></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
