<!DOCTYPE html>
<html>
  <head>
    <title>Ticket Selling History Report</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="/images/Logo.png" alt="Event.ba Logo" />
        <h3>Event.ba</h3>
      </div>
      <h1>Izvještaj prodaje ulaznica</h1>

      <p><%= currentDate %></p>
    </header>
    <div class="event-info">
      <h3><%= data.performer_name %></h3>
      <p>
        <%= data.place.city %>, <%= data.place.place %>, <%= data.place.country
        %>
      </p>
      <p><%= formattedTimeOfEvent %></p>
    </div>

    <% data.concertHistory.forEach(function(event) { %>
    <table>
      <thead>
        <tr>
          <th colspan="4">
            <%= new Date(event.date).toLocaleDateString('hr-HR') %>
          </th>
        </tr>
        <tr>
          <th>Online prodaja</th>
          <th>Kategorija</th>
          <th>Prodano</th>
          <th>u BAM</th>
        </tr>
      </thead>
      <tbody>
        <% if (event.tickets.online_sale) { %> <%
        Object.keys(event.tickets.online_sale.type).forEach(category => { %> <%
        const saleData = event.tickets.online_sale.type[category]; %>
        <tr>
          <td></td>
          <td><%= category %> - <%= saleData.name %></td>
          <td><%= saleData.maxAmount-saleData.amount %></td>
          <td><%= (saleData.maxAmount-saleData.amount) * saleData.price %></td>
        </tr>
        <% }); %>
        <tr>
          <td colspan="2">
            Ukupno:</td>
            
            <td><%= event.tickets.online_sale.sold_amount %></td>
            <td><%= event.tickets.online_sale.amount_inBAM %> </td>
          </td>
        </tr>

        <% } %>
      </tbody>
    </table>
    <% }); %>
  </body>
</html>
