<% function formattedTimeOfEvent(time) { const options = { year: 'numeric',
month: 'numeric', day: 'numeric' }; return new
Date(time).toLocaleDateString('hr-HR', options); } %>

<!DOCTYPE html>
<html>
  <head>
    <title>Ticket Selling History Report</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="/images/Logo.png" alt="Event.ba Logo" />
        <h3>event.ba</h3>
      </div>
      <h1>Izvještaj prodaje ulaznica</h1>
      <p><%= formattedTimeOfEvent(new Date()) %></p>
    </header>
    <div class="event-info">
      <h3><%= data.concert.performer_name %></h3>
      <p><%= data.concert.place.city %>, <%= data.concert.place.place %></p>
      <p><%= formattedTimeOfEvent(data.concert.time_of_event) %></p>
    </div>

    <% data.concert_history.forEach(function(day) { %>
    <table>
      <thead>
        <tr>
          <th class="date" colspan="4">
            <%= new Date(day.date).toLocaleDateString('hr-HR') %>
          </th>
        </tr>
        <tr>
          <th>Online prodaja</th>
          <th>Kategorija</th>
          <th>Prodano</th>
          <th><small>BAM</small></th>
        </tr>
      </thead>
      <tbody>
        <% if (day.tickets.online_sale) { %> <% let totalAmount = 0; %> <% let
        totalAmountInBAM = 0; %> <%
        Object.keys(day.tickets.online_sale.types).forEach(category => { %> <%
        const saleData = day.tickets.online_sale.types[category]; %> <% const
        categoryTotal = saleData.sold_amount; %> <% const categoryTotalInBAM =
        categoryTotal * saleData.price; %> <% totalAmount += categoryTotal; %>
        <% totalAmountInBAM += categoryTotalInBAM; %>
        <tr>
          <td></td>
          <td><%= saleData.name %></td>
          <td><%= categoryTotal %></td>
          <td><%= categoryTotalInBAM %></td>
        </tr>
        <% }); %>
        <tr class="sum">
          <td>Ukupno:</td>
          <td></td>
          <td><%= totalAmount %></td>
          <td><%= totalAmountInBAM %></td>
        </tr>
        <% } %>
      </tbody>
      <thead>
        <tr>
          <th>Slobodna prodaja</th>
          <th>Kategorija</th>
          <th>Prodano</th>
          <th><small>BAM</small></th>
        </tr>
      </thead>
      <tbody>
        <% day.tickets.free_sale.resellers.forEach(function(reseller) { %> <%
        let resellerTotalAmount = 0; %> <% let resellerTotalAmountInBAM = 0; %>
        <% Object.keys(reseller.types).forEach(category => { %> <% const
        resellerData = reseller.types[category]; %> <% const
        resellerCategoryTotal = resellerData.sold_amount; %> <% const
        resellerCategoryTotalInBAM = resellerCategoryTotal * resellerData.price;
        %> <% resellerTotalAmount += resellerCategoryTotal; %> <%
        resellerTotalAmountInBAM += resellerCategoryTotalInBAM; %>
        <tr>
          <td><%= reseller.reseller_name %></td>
          <td><%= resellerData.name %></td>
          <td><%= resellerCategoryTotal %></td>
          <td><%= resellerCategoryTotalInBAM %></td>
        </tr>
        <% }); %>
        <tr class="sum">
          <td>Ukupno:</td>
          <td></td>
          <td><%= resellerTotalAmount %></td>
          <td><%= resellerTotalAmountInBAM %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <% }); %>
  </body>
</html>
