<% function formattedTimeOfEvent(time) { const options = { year: 'numeric',
month: 'numeric', day: 'numeric' }; return new
Date(time).toLocaleDateString('hr-HR', options); } %>

<!DOCTYPE html>
<html>
  <head>
    <title>Ticket Selling History Report</title>
    <link rel="stylesheet" href="/style.css" />
    <style>
      body {
        font-family: "Trebuchet MS", sans-serif;
        margin: 0; /* Remove default margins */
        padding: 0; /* Remove default padding */
        background-color: rgb(255, 255, 255);
        width: 210mm; /* Set width to A4 dimensions */
        height: 297mm; /* Set height to A4 dimensions */
        border: 1px solid black;
      }
      header {
        margin: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        .logo {
          display: flex;
          gap: 10px;
          flex-direction: row;
        }
      }
      .event-info {
        margin: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      table {
        border-collapse: collapse;
        width: 95%;
        margin: 0 20px;
      }
      tbody {
        outline: auto;
      }
      .date {
        background: rgb(233, 233, 233);
      }
      th {
        border-radius: 3px;
        outline: auto;
      }
      th,
      td {
        padding: 3px;
        text-align: center;
      }

      small {
        opacity: 0.8;
      }
      .sum {
        font-weight: bold;
        border-bottom: 1px solid black;
      }
    </style>
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="<%= logoImageSrc %>" alt="Event.ba Logo" />
        <h3>event.ba</h3>
      </div>
      <h1>Izvještaj prodaje ulaznica</h1>
      <p><%= formattedTimeOfEvent(new Date()) %></p>
    </header>
    <div class="event-info">
      <h3><%= data.concert.performer_name %></h3>
      <p><%= data.concert.place.city %>, <%= data.concert.place.place %></p>
      <p><%= formattedTimeOfEvent(data.concert.time_of_event) %></p>
    </div>

    <% data.concert_history.forEach(function(day) { %>
    <table>
      <thead>
        <tr>
          <th class="date" colspan="4">
            <%= new Date(day.date).toLocaleDateString('hr-HR') %>
          </th>
        </tr>
        <tr>
          <th>Online prodaja</th>
          <th>Zona</th>
          <th>Prodano</th>
          <th><small>BAM</small></th>
        </tr>
      </thead>
      <tbody>
        <% if (day.tickets.online_sale) { %> <% let totalAmount = 0; %> <% let
        totalAmountInBAM = 0; %> <%
        Object.keys(day.tickets.online_sale.zones).forEach(category => { %> <%
        const saleData = day.tickets.online_sale.zones[category]; %> <% const
        categoryTotal = saleData.sold_amount; %> <% const categoryTotalInBAM =
        categoryTotal * saleData.price; %> <% totalAmount += categoryTotal; %>
        <% totalAmountInBAM += categoryTotalInBAM; %>
        <tr>
          <td></td>
          <td><%= saleData.name %></td>
          <td><%= categoryTotal %></td>
          <td><%= categoryTotalInBAM %></td>
        </tr>
        <% }); %>
        <tr class="sum">
          <td>Ukupno:</td>
          <td></td>
          <td><%= totalAmount %></td>
          <td><%= totalAmountInBAM %></td>
        </tr>
        <% } %>
      </tbody>
      <thead>
        <tr>
          <th>Slobodna prodaja</th>
          <th>Zona</th>
          <th>Prodano</th>
          <th><small>BAM</small></th>
        </tr>
      </thead>
      <tbody>
        <% day.tickets.free_sale.resellers.forEach(function(reseller) { %> <%
        let resellerTotalAmount = 0; %> <% let resellerTotalAmountInBAM = 0; %>
        <% Object.keys(reseller.zones).forEach(category => { %> <% const
        resellerData = reseller.zones[category]; %> <% const
        resellerCategoryTotal = resellerData.sold_amount; %> <% const
        resellerCategoryTotalInBAM = resellerCategoryTotal * resellerData.price;
        %> <% resellerTotalAmount += resellerCategoryTotal; %> <%
        resellerTotalAmountInBAM += resellerCategoryTotalInBAM; %>
        <tr>
          <td><%= reseller.reseller_name %></td>
          <td><%= resellerData.name %></td>
          <td><%= resellerCategoryTotal %></td>
          <td><%= resellerCategoryTotalInBAM %></td>
        </tr>
        <% }); %>
        <tr class="sum">
          <td>Ukupno:</td>
          <td></td>
          <td><%= resellerTotalAmount %></td>
          <td><%= resellerTotalAmountInBAM %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <% }); %>
  </body>
</html>
